@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-bg-brand);
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.Theme .Modal-Window {
  min-height: initial;
}